#tableAddedCourses tr:hover {
  background-color: lightblue;
}
#tableAddedCourses td {
  vertical-align: middle;
}
p label.label-primary {
  background-color: #337ab7;
}
p label.label-primary a {
  color: white;
}
a {
   cursor:pointer;
}
